.imdb-container {
  background: lightblue;
  padding: 10px;
  font-family: Tahoma, Geneva, sans-serif;
  border-style: solid !important;
  border-bottom: solid;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: start;
  grid-gap: 10px 10px;
  min-height: auto;
  min-width: auto;
}
.filmz-name {
  background: tomato;
}
.filmz-seen {
  background: red;
}
.page-name {
  /* background: gold;*/
}
.page-rating {
  background: yellow;
}
.themoviedb-name {
  background: teal;
}
.themoviedb-nameorig {
  background: greenyellow;
}

.loader {
  border: 2px solid #f3f3f3 !important;
  border-top: 2px solid #646464 !important;
  border-radius: 50%;
  width: 1ch;
  height: 1ch;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
